{% extends "base.html" %}

{% block content%}
<main class="main main--content">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:terry4715@gmail.com">
                    Terry4715 [at] gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Github:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/Terry4715" target="_blank">
                    @Terry4715
                </a>
            </dd>
        </div>
    </dl>
</main>

{% endblock %}